<div class="modal-overlay">

  <div class="modal">

    <div class="modal-header">

      <div>
        <h2>Subtareas</h2>

        @if (tarea) {
          <p>{{ tarea.titulo }}</p>
        }
      </div>

      <button
        type="button"
        class="btn-cerrar"
        (click)="cerrarModal()"
      >
        ×
      </button>

    </div>

    <div class="subtareas-lista">

      @if (!subtareas || subtareas.length === 0) {

        <p class="sin-subtareas">
          Esta tarea no tiene subtareas.
        </p>

      } @else {

        @for (subtarea of subtareas; track subtarea.id) {

          <div class="subtarea">

            <label class="switch">
                <input
                    type="checkbox"
                    [checked]="subtarea.estaTerminada"
                    (change)="cambiarEstadoSubTarea(subtarea, $event)"
                >
                
                <span class="slider"></span>
            </label>

            <span
              [class.completada]="subtarea.estaTerminada"
            >
              {{ subtarea.titulo }}
            </span>

          </div>

        }

      }

    </div>

    <div class="modal-footer">

      <button type="button" class="btn-nueva" (click)="abrirNuevaSubTarea()">
        + Nueva subtarea
      </button>

      @if (mostrarNuevaSubTarea()) {
        <div class="nueva-subtarea">

          <div class="campo">
            <label for="tituloNuevaSubTarea"> Título </label>
            
            <input id="tituloNuevaSubTarea" type="text" [(ngModel)]="tituloNuevaSubTarea" maxlength="200" placeholder="Título de la subtarea">
            <small>{{tituloNuevaSubTarea.length}}/200</small>
          </div>
          
          <div class="nueva-subtarea-actions">

          <button type="button" class="btn-cancelar" (click)="cancelarNuevaSubTarea()">
            Cancelar
          </button>

          <button type="button" class="btn-guardar" (click)="crearSubTarea()">
            Crear
          </button>

        </div>
      </div>
      }

    </div>

  </div>

</div>